<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ZK连接池配置 -->
    <bean id="zkPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
        <property name="maxTotal" value="${zk.pool.maxTotal}"/>
        <property name="minIdle" value="${zk.pool.minIdle}"/>
        <property name="maxIdle" value="${zk.pool.maxIdle}"/>
        <property name="maxWaitMillis" value="${zk.pool.maxWaitMillis}"/>
        <property name="lifo" value="${zk.pool.lifo}"/>
        <property name="minEvictableIdleTimeMillis" value="${zk.pool.minEvictableIdleTimeMillis}"/>
        <property name="blockWhenExhausted" value="${zk.pool.blockWhenExhausted}"/>
    </bean>

</beans>