<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sagesource.zookeeperdriver.mapper.ZkServerInfoMapper">
  <resultMap id="BaseResultMap" type="org.sagesource.zookeeperdriver.entity.ZkServerInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="servers" jdbcType="VARCHAR" property="servers" />
    <result column="isUse" jdbcType="CHAR" property="isuse" />
    <result column="retry_sleep_time" jdbcType="INTEGER" property="retrySleepTime" />
    <result column="retry_times" jdbcType="INTEGER" property="retryTimes" />
    <result column="conn_timeout" jdbcType="INTEGER" property="connTimeout" />
    <result column="session_timeout" jdbcType="INTEGER" property="sessionTimeout" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zk_server_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zk_server_info (servers, isUse, retry_sleep_time, 
      retry_times, conn_timeout, session_timeout, 
      create_time, update_time)
    values (#{servers,jdbcType=VARCHAR}, #{isuse,jdbcType=CHAR}, #{retrySleepTime,jdbcType=INTEGER}, 
      #{retryTimes,jdbcType=INTEGER}, #{connTimeout,jdbcType=INTEGER}, #{sessionTimeout,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfo">
    update zk_server_info
    set servers = #{servers,jdbcType=VARCHAR},
      isUse = #{isuse,jdbcType=CHAR},
      retry_sleep_time = #{retrySleepTime,jdbcType=INTEGER},
      retry_times = #{retryTimes,jdbcType=INTEGER},
      conn_timeout = #{connTimeout,jdbcType=INTEGER},
      session_timeout = #{sessionTimeout,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, servers, isUse, retry_sleep_time, retry_times, conn_timeout, session_timeout, 
    create_time, update_time
    from zk_server_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, servers, isUse, retry_sleep_time, retry_times, conn_timeout, session_timeout, 
    create_time, update_time
    from zk_server_info
  </select>
</mapper>