<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sagesource.zookeeperdriver.mapper.ZkServerInfoMapper">
  <resultMap id="BaseResultMap" type="org.sagesource.zookeeperdriver.entity.ZkServerInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="servers" jdbcType="VARCHAR" property="servers" />
    <result column="isUse" jdbcType="CHAR" property="isuse" />
    <result column="retry_sleep_time" jdbcType="INTEGER" property="retrySleepTime" />
    <result column="retry_times" jdbcType="INTEGER" property="retryTimes" />
    <result column="conn_timeout" jdbcType="INTEGER" property="connTimeout" />
    <result column="session_timeout" jdbcType="INTEGER" property="sessionTimeout" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="server_desc" jdbcType="VARCHAR" property="serverDesc" />
    <result column="client_key" jdbcType="VARCHAR" property="clientKey" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, servers, isUse, retry_sleep_time, retry_times, conn_timeout, session_timeout, 
    create_time, update_time, server_desc, client_key
  </sql>
  <select id="selectByExample" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zk_server_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zk_server_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zk_server_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfoExample">
    delete from zk_server_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfo">
    insert into zk_server_info (id, servers, isUse, 
      retry_sleep_time, retry_times, conn_timeout, 
      session_timeout, create_time, update_time, 
      server_desc, client_key)
    values (#{id,jdbcType=INTEGER}, #{servers,jdbcType=VARCHAR}, #{isuse,jdbcType=CHAR}, 
      #{retrySleepTime,jdbcType=INTEGER}, #{retryTimes,jdbcType=INTEGER}, #{connTimeout,jdbcType=INTEGER}, 
      #{sessionTimeout,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{serverDesc,jdbcType=VARCHAR}, #{clientKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfo">
    insert into zk_server_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="servers != null">
        servers,
      </if>
      <if test="isuse != null">
        isUse,
      </if>
      <if test="retrySleepTime != null">
        retry_sleep_time,
      </if>
      <if test="retryTimes != null">
        retry_times,
      </if>
      <if test="connTimeout != null">
        conn_timeout,
      </if>
      <if test="sessionTimeout != null">
        session_timeout,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="serverDesc != null">
        server_desc,
      </if>
      <if test="clientKey != null">
        client_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="servers != null">
        #{servers,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null">
        #{isuse,jdbcType=CHAR},
      </if>
      <if test="retrySleepTime != null">
        #{retrySleepTime,jdbcType=INTEGER},
      </if>
      <if test="retryTimes != null">
        #{retryTimes,jdbcType=INTEGER},
      </if>
      <if test="connTimeout != null">
        #{connTimeout,jdbcType=INTEGER},
      </if>
      <if test="sessionTimeout != null">
        #{sessionTimeout,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serverDesc != null">
        #{serverDesc,jdbcType=VARCHAR},
      </if>
      <if test="clientKey != null">
        #{clientKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfoExample" resultType="java.lang.Integer">
    select count(*) from zk_server_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zk_server_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.servers != null">
        servers = #{record.servers,jdbcType=VARCHAR},
      </if>
      <if test="record.isuse != null">
        isUse = #{record.isuse,jdbcType=CHAR},
      </if>
      <if test="record.retrySleepTime != null">
        retry_sleep_time = #{record.retrySleepTime,jdbcType=INTEGER},
      </if>
      <if test="record.retryTimes != null">
        retry_times = #{record.retryTimes,jdbcType=INTEGER},
      </if>
      <if test="record.connTimeout != null">
        conn_timeout = #{record.connTimeout,jdbcType=INTEGER},
      </if>
      <if test="record.sessionTimeout != null">
        session_timeout = #{record.sessionTimeout,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.serverDesc != null">
        server_desc = #{record.serverDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.clientKey != null">
        client_key = #{record.clientKey,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zk_server_info
    set id = #{record.id,jdbcType=INTEGER},
      servers = #{record.servers,jdbcType=VARCHAR},
      isUse = #{record.isuse,jdbcType=CHAR},
      retry_sleep_time = #{record.retrySleepTime,jdbcType=INTEGER},
      retry_times = #{record.retryTimes,jdbcType=INTEGER},
      conn_timeout = #{record.connTimeout,jdbcType=INTEGER},
      session_timeout = #{record.sessionTimeout,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      server_desc = #{record.serverDesc,jdbcType=VARCHAR},
      client_key = #{record.clientKey,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfo">
    update zk_server_info
    <set>
      <if test="servers != null">
        servers = #{servers,jdbcType=VARCHAR},
      </if>
      <if test="isuse != null">
        isUse = #{isuse,jdbcType=CHAR},
      </if>
      <if test="retrySleepTime != null">
        retry_sleep_time = #{retrySleepTime,jdbcType=INTEGER},
      </if>
      <if test="retryTimes != null">
        retry_times = #{retryTimes,jdbcType=INTEGER},
      </if>
      <if test="connTimeout != null">
        conn_timeout = #{connTimeout,jdbcType=INTEGER},
      </if>
      <if test="sessionTimeout != null">
        session_timeout = #{sessionTimeout,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serverDesc != null">
        server_desc = #{serverDesc,jdbcType=VARCHAR},
      </if>
      <if test="clientKey != null">
        client_key = #{clientKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sagesource.zookeeperdriver.entity.ZkServerInfo">
    update zk_server_info
    set servers = #{servers,jdbcType=VARCHAR},
      isUse = #{isuse,jdbcType=CHAR},
      retry_sleep_time = #{retrySleepTime,jdbcType=INTEGER},
      retry_times = #{retryTimes,jdbcType=INTEGER},
      conn_timeout = #{connTimeout,jdbcType=INTEGER},
      session_timeout = #{sessionTimeout,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      server_desc = #{serverDesc,jdbcType=VARCHAR},
      client_key = #{clientKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>